{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.clojure/test.check {:mvn/version "1.1.1"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.14"}}
          :ns-default build}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.07.24"}}
         :main-opts ["-m" "clj-kondo.main" "--fail-level" "warning" "--lint" "src" "test" "build.clj"]}
  :bench {:extra-paths ["bench"]
          :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}
          :main-opts ["-m" "betacalendars.calendar-query.bench"]}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "target/calendar-query-0.1.0.jar"}}
  :check {:extra-paths ["test"]
          :extra-deps {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                       org.clojure/test.check {:mvn/version "1.1.1"}
                       clj-kondo/clj-kondo {:mvn/version "2026.07.24"}}
          :main-opts ["-m" "cognitect.test-runner"]}}}
